$titleColor: seagreen;
$primaryColor: mediumseagreen;

$base: 8px;

$timing: .2s;

$arrow: '↗︎';

:root {
    --white: #FFF;
    --black: #222;
    --trueBlack: #000;
    --grey: #555;
    --code: #333;
    --black005: rgba(0,0,0, 0.05);
    --black001: rgba(0,0,0, 0.01);
    --black0025: rgba(0,0,0, 0.025);
    --black02: rgba(0,0,0, 0.2);
    --asideBg: #FDD;
    --asideText: #800;
    --codeSpans: #358;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: $base*3;
    margin: 0;
    padding: $base*2;
    position: relative;
    &:after {
        background: url('/images/favicon.png') no-repeat;
        background-size: cover;
        bottom: -$base*6;
        content: '';
        height: 256px;
        left: -$base*6;
        opacity: 0.025;
        position: fixed;
        width: 256px;
        z-index: -1;
    }
    &#home article {
        > h2 {
            font-size: $base*4;
            font-weight: 500;
            letter-spacing: -1px;
            line-height: normal;
            max-width: 25ch;
            strong {
                color: $primaryColor;
                font-weight: 600;
            }
        }
    }
}

main {
    margin: 0 auto;
    max-width: $base*120; //960px
}

a {
    color: var(--black);
    transition: color $timing;
    &:hover {
        color: $primaryColor;
    }
    &[target="_blank"]:after {
        content: ' #{$arrow}';
    }
}

p strong {
    color: var(--trueBlack);
    font-weight: 500;
}

nav li {
    a {
        display: inline-block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &.active > a {
        text-decoration: underline;
    }
}

header nav {
    background-color: var(--black005);
    border-radius: $base;
    display: block;
    padding: $base*2;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            width: calc(100%/3);
            &:first-child {
                margin-bottom: $base;
                a {
                    color: $titleColor;
                    font-weight: 500;
                }
            }
        }
    }
    a {
        display: inline-block;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote,
aside,
article nav {
    box-sizing: border-box;
    max-width: 60ch;
}

h1 {
    color: $titleColor;
    font-size: $base*4;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: $base*4;
    abbr {
        text-decoration: none;
    }
}

h2[id],
h3[id],
h4[id] {
    display: flex;
    a {
        color: #358;
        font-size: $base*2;
        margin: 0 $base 0 0;
        opacity: 0.25;
        text-decoration: none;
        transition: opacity $timing;
        &:hover {
            color: #358;
            opacity: 1;
        }
    }
}

h2,
h3,
h4 {
    color: $primaryColor;
    font-weight: 400;
    a {
        color: $primaryColor;
    }
    small {
        color: var(--grey);
        display: block;
        font-family: monospace;
        font-size: $base*1.5;
    }
}

h2 {
    color: $titleColor;
    font-size: $base*3;
}

h3 small {
    color: silver;
    display: block;
}

article {
    nav {
        background-color: var(--black005);
        border-radius: $base;
        margin: 0 0 $base*2;
        padding: 0 $base;
        h3 {
            border-bottom: 1px solid var(--black02);
            margin: 0;
            padding: $base;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
            padding: $base 0;
            li {
                width: calc(50% - #{$base});
            }
            a {
                display: block;
                padding: $base/2 $base;
            }
            ul {
                display: none;
            }
            .active {
                background-color: #FFF;
                border-radius: $base;
                &.has-children {
                    width: 100%;
                }
                > a {
                    color: $titleColor;
                    position: relative;
                    text-decoration: none;
                }
                ul {
                    display: block;
                    margin: 0;
                    max-height: 40vh;
                    overflow-y: auto;
                    padding: 0;
                }
                li {
                    font-size: $base*1.5;
                    a {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}

a[href=":target"] {
    border: 1px solid red;
}

section {
    p:first-child {
        margin-top: 0;
    }
    > code {
        border-radius: $base;
        display: block;
        letter-spacing: 1px;
        margin: $base 0;
        max-width: 70ch;
        padding: $base*2 $base*3;
    }
}

code {
    background-color: var(--black005);
    border-radius: 5px;
    color: var(--code);
    overflow-x: auto;
    padding: $base/2 $base;
    span {
        color: var(--codeSpans);
        position: relative;
    }
    pre {
        margin: 0;
        padding: 0;
    }
}

aside {
    align-items: center;
    background-color: var(--asideBg);
    border-radius: $base;
    color: var(--asideText);
    display: flex;
    margin: $base 0 0;
    padding: 0 $base*2;
    &:before {
        content: '!';
        font-size: $base*5;
        font-weight: 600;
        opacity: 0.8;
        padding: 0 $base*2 0 0;
    }
    p {
        flex: 1;
        margin: 0;
        padding: $base*2 0;
    }
    strong {
        color: inherit;
    }
    &.info {
        background-color: rgba($primaryColor, 0.2);
        color: $titleColor;
    }
}

header {
    border-bottom: 1px solid var(--black005);
    margin: 0 0 $base*3;
    padding: 0 0 $base;
}

footer {
    align-items: center;
    border-top: 1px solid var(--black005);
    margin: $base*4 0 0;
    padding: $base 0 0;
    img {
        display: none;
    }
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    th {
        background-color: var(--black0025);
    }
    tr {
        &:nth-child(even) td {
            background-color: var(--black001);
        }
        &:hover td {
            background-color: rgba($primaryColor,0.05);
        }
    }
}

details {
    background-color: var(--black005);
    border-radius: $base;
    summary {
        cursor: pointer;
        padding: $base;
        outline: 0;
        transition: color $timing;
    }
    &[open] {
        padding: 0 0 $base;
        summary {
            color: $primaryColor;
        }
    }
    code {
        display: block;
        margin: 0 $base;
    }
}

li.new {
    &:before {
        color: $titleColor;
        content: 'New: ';
        font-family: monospace;
        text-transform: uppercase;
    }
}

.table {
    overflow-x: auto;
}

th,
td {
    border: 1px solid var(--black005);
    padding: $base;
    &.cell-20 {
        width: 20%;
    }
}

.ctas {
    display: flex;
    a {
        background-color: $primaryColor;
        box-shadow: 0 0 1px 0 $titleColor;
        border-radius: 5px;
        color: white;
        display: inline-block;
        padding: $base $base*2;
        text-decoration: none;
        transition: background-color .2s;
        &:not(:last-child) {
            margin-right: $base;
        }
        &:hover {
            background-color: $titleColor;
        }
        &:last-child {
            background-color: white;
            color: $primaryColor;
            &:hover {
                background-color: var(--black005);
            }
        }
    }
}

.inset {
    border-left: $base solid rgba($primaryColor, 0.2);
}

#highlights {
    border-top: 1px solid var(--black005);
    margin: $base*5 0 0;
    padding: $base*5 0 0;
    h2 {
        margin: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            background: rgba($titleColor, 0.075);
            border-radius: $base;
            margin: $base*2 0 0;
            padding: $base*2;
            img {
                display: none;
            }
            strong {
                color: $primaryColor;
                display: block;
                font-size: $base*3;
                font-weight: 400;
                margin: 0 0 $base;
                &:before {
                    content: '#{$arrow} ';
                    opacity: 0.5;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    body:after {
        bottom: -$base*12;
        height: 512px;
        left: -$base*12;
        width: 512px;
    }
    header nav ul {
        flex-wrap: nowrap;
        justify-content: space-between;
        li {
            width: auto;
            &:first-child {
                flex: 1;
                margin: 0;
                max-width: none;
            }
            &:not(:last-child) {
                margin-right: $base*4;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        img {
            display: block;
            height: 32px;
            opacity: 0.5;
            transition: opacity $timing, transform $timing;
            width: 32px;
            &:hover {
                opacity: 1;
                transform: rotate(-45deg);
            }
        }
    }

    .has-nav {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        > nav {
            display: block;
            margin: 0 0 0 $base*4;
            min-width: 20ch;
            order: 2;
            position: sticky;
            top: $base*2;
            width: 25%;
        }
    }

    article nav ul {
        display: block;
        li {
            display: block;
            width: auto;
            &.active > a:after {
                content: '⟵';
                position: absolute;
                right: $base;
            }
        }
    }

    .table {
        width: 100%;
    }

    #highlights ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            margin: $base*2 0 0;
            padding: $base*2;
            width: calc(50% - #{$base});
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: #222;
        --black: #EEE;
        --trueBlack: #FFF;
        --grey: #555;
        --code: #CCC;
        --black005: rgba(255,255,255, 0.05);
        --black001: rgba(255,255,255, 0.01);
        --black0025: rgba(255,255,255, 0.025);
        --black02: rgba(255,255,255, 0.2);
        --asideBg: #622;
        --asideText: #FDD;
        --codeSpans: #DEF;
    }
}
